
body{
    padding: 0;
    margin: 0;
}

#tabs-container{
    width: 100%;
    /*background-image: url('img/escheresque_ste.png');*/
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.45), rgba(0, 0, 255, 0.45)), url('img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.container{
    width: 80%;
    margin: 0 auto;
}


.tabs-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1px;
    padding-top: 15px;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    list-style-type: none;
}

.tabs-menu li.current {
    position: relative;
    background-color: tra;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    width: 100%;
}

.tab-content {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: none;
}

.listServices__item{
    font-family: 'Montserrat', sans-serif;
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


#tab-1 {
 display: block;   
}

.rectangle-list{
    counter-reset: li;
}


.rectangle-list li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;   
}
 
.rectangle-list li:hover {
    background: #42f4aa;
}   
 
.rectangle-list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
 
.rectangle-list li:after {
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;               
}
 
.rectangle-list li:hover:after {
    left: -.5em;
    border-left-color: #fa8072;             
}


.phone-pic{
    width: 25px;
    height: auto;
    margin-bottom: 15px;
}

.vk-icon{
    width: 25px;
    height: auto;
}

.vk__link{
    margin-top: 15px;
}

.contact__wraper{
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phone__wraper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-img__wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phoneNumber{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.city{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 14px; 
}

.short{
    position: relative;
    cursor: pointer;
}

.detail{
    display: none;
    color: black;
    font-weight: bold;
}

.arrow{
    position: absolute;
    right: 19px;
    top: 5px;
    width: 10px;
    height: auto;
}

.rotate{
    transform: rotate(180deg);
}

.clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.clients__item{
    width: 25%;
}

.clients-link{
    width: 100%;
}

.clients__item-logo{
    width: 100%;
    height: auto;
}

.jobs-container{
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
}

/*// .swiper-wrapper{
//     width: 100%;
//     height: auto;
// }

// .swiper-slide{
//     width: 100%;
//     height: auto;
// }*/

.swiper-slide img{
    width: 100%;
    height: auto;
    max-height: 314px;
}



@media screen and (max-width: 714px){

    #page-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #title {
        color: #f6f6f6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }
    #btn {
        position: fixed;
        z-index: 5;
        top: 68px;
        right: 15px;
        cursor: pointer;
        transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    }
    #btn div {
        width: 35px;
        height: 2px;
        margin-bottom: 8px;
        background-color: #232323;
        transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
    }

    #btn.active div {
        background-color: #343838;
    }
    #btn.active #top {
        transform: translateY(10px) rotate(-135deg);
    }
    #btn.active #middle {
        opacity: 0;
        transform: rotate(135deg);
    }
    #btn.active #bottom {
        transform: translateY(-10px) rotate(-45deg);
    }
    #box {
        position: fixed;
        z-index: 4;
        overflow: auto;
        top: 0px;
        right: -275px;
        width: 275px;
        opacity: 0;
        padding: 20px 0px;
        height: 75%;
        background-color: #f6f6f6;
        color: #343838;
        transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    }
    #box.active {
       right: 0px;
       opacity: 1;
    }
    #items {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 75%;
    }
    #items .item {
        position: relative;
        cursor: pointer;
        padding: 15px 30px;
        transition: all 250ms;
    }

    .menu__links__item:hover{
        background: none;
    }

    #items .item:hover {
        padding: 15px 45px;
        background-color: rgba(52, 56, 56, 0.2);
    }

    .menu__links__item{
        line-height: 20px;
        vertical-align: center;
    }

    #btn, #btn * {
        will-change: transform;
    }
    #box {
        will-change: transform, opacity;
    }
}